.container{
    background-color:#ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.container form{
    display: flex;
    flex-direction: column;
    border: 1px solid #dddfe2;
    gap: 1rem;
    width: 40vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color:#bdaece61;
    border-radius: 5px;
      
}
.container form input {
    width: 18vw;
    height: 2rem;
    outline: none;
    border: 1px solid skyblue;
    border-radius: 5px;
}
.container form button{
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #008CBA;
}
.container img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%; 
    position: absolute;
    top: 15%;
    background-color: #008CBA;

}